{include navigation.html}
<h1>Home</h1>
{if isset($messages)}
	{foreach $message in $messages}
		<b>By: </b> {echo $message->by}<br />
		{echo $message->body}<br />
		{foreach $reply in Message::fetchReplies($message->id)}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{echo $reply->body}<br />
		{/foreach}
		<b>Posted: </b> {echo Framework\StringMethods::datetime_to_text($message->created)}<br />
		<b>Modified: </b> {echo Framework\StringMethods::datetime_to_text($message->modified)}
		 <form method="post" action="/social-network/messages/add.html">
            <textarea name="body"></textarea>
            <input type="hidden" value="{echo $message->id}" name="message" />
            <input type="submit" name="share" value="Comment" />
        </form>
	{/foreach}
{/if}

{if (isset($user))}
	Whats in your Mind?
	<form method="post" action="/social-network/messages/add.html">
		<textarea name="body"></textarea>
		<input type="submit" name="share" value="share" />
	</form>
{/if}